<%- include('partials/header') -%>

  <div class="w-100 newCards">
    <% for(var i=0; i<keys.length; i++) {%>
      <div class="nft">
        <div class='main'>
          <h2 class="fs-3 text-center ">
            Key: <%= keys[i].key%>
          </h2>

          <hr class="mt-2">
          <p class='description fs-4 mt-2'><span class="fw-bold">
              Feet:
            </span>
            6
          </p>
          <p class='description fs-4 mt-2'><span class="fw-bold">
              Inches:
            </span>
            08
          </p>
          <p class='description fs-4 mt-2'><span class="fw-bold">
              Lbs:
            </span>
            140
          </p>
          <hr />
          <p class="fs-7 mt-2">Create By: <%= keys[i].user%> <cite title="Source Title">@ <%= keys[i].createdAt%>
              </cite>
          </p>
          <hr>
          <a href="/delete" class="fs-5 mb-1 viewKey btn fw-bold btn-outline ms-5 me-4">Delete Key</a>
        </div>
      </div>
      
      <% } %>
  </div>
      <%- include('partials/footer') -%>